---
interface Props {
  title: string;
  description: string;
  image?: string;
  img_alt?: string;
  url: string;
}

const {
  title,
  description,
  url,
  img_alt,
  image = "/brian-martinez-rodriguez.jpeg",
} = Astro.props;
---

<!-- Global Metadata -->
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="generator" content="Astro" />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="description" content={description} />
<meta name="robots" content="index, follow" />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image, url)} />
<meta property="og:image:alt" content={img_alt} />
<meta property="og:locale" content="es_ES" />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={new URL(image, url)} />
